body { 
    background-color: white; 
    color: black;
}

.periodicTable { text-align: center; margin: 0; padding: 0; }
/* .gospel { background: #9ad3c5; }
.history { background: #f1c6e9; }
.paulEpistels { background: #99b6e8; }
.commonEpistels { background: #e1f2d0; }
.revelation { background: #eacdbf; } */
.group { position: relative; clear: both; }
.groupLegende { 
    position: relative; width: 250px; height: 20px;
    text-align: center; vertical-align: middle; font-weight: bold; 
    padding: 2px; margin: 5px; float: left; font-size: 110%;
}
.separator { margin-bottom: 6px; }

.box { position: relative; width: 95px; height: 100px; border: 2px solid #333; margin: 5px; float: left;}
.book { position: relative; width: 75px; height: 100%; border-right: 1px solid #333; float: left; font-family: "Times New Roman", Times, serif; }
.chapters { /*border: 1px solid #333; */ width: 40%; font-size: 90%; font-weight: bold; margin-left: 2px; }
.verses { /*border: 1px solid #333; */ width: 40%; font-size: 90%; margin-left: 2px; position: absolute; top: 14; }
.year { float: right; width: 50%; font-size: 90%; text-align: right; margin-right: 2px; /*border: 1px solid #333; */ }
.num { position: absolute; right: 0; bottom: 60%; width: 30%; font-size: 80%; font-weight: bold; margin-right: 2px; /* border: 1px solid #333; */ }
.abbreviation { position: absolute; bottom: 35%; text-align: center; vertical-align: middle; font-weight: bold; width: 100%; font-size: 185%; /*border: 1px solid #333; */ }
.keyVerse { width: inherit; font-size: 80%; font-weight: bold; text-align: center; position: absolute; bottom: 20%; /* border: 1px solid #333; */ }
.author { width: 100%; text-align: center; position: absolute; bottom: 0; /*border: 1px solid #333; */ }

.keyword {
        -webkit-transform: rotate(90deg);
        -webkit-transform-origin: left top;
        -moz-transform: rotate(90deg);
        -moz-transform-origin: left top;
        -ms-transform: rotate(90deg);
        -ms-transform-origin: left top;
        -o-transform: rotate(90deg);
        -o-transform-origin: left top;
        transform: rotate(90deg);
        transform-origin: left top;

        position: absolute;
        left: 100%;
        width: 100%;
        white-space: nowrap;
        font-size: 90%;
        margin: 0px;
        text-align: center;
    }